.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  * {
      margin:0;
      padding: 0;
      box-sizing: border-box;
    }
  
    .row {
      max-width: 1140px;
      margin:0 auto;
    }
    
    html {
      background-color: #ffffff;
      font-family: cursive;
      color: #FF5112;
      font-size: 20px;
      font-weight:300;
      text-rendering: optimizeLegibility; 
    }
    header {
      display: flex;
      align-items: top;
      font-family: cursive;
      padding: 16px 32px;
      justify-content: space-between;
      background-size:cover;
      height:10%;
      width: 100%;
    }
    h1 {
      margin-bottom:10px;
      color:#FF5112;
      font-weight:300px;
      letter-spacing:1px;
      text-transform:uppercase;
      word-spacing:2px;
      font-size:200%;
      justify-content: right;
    }
    .logo {
      size: 16px;
      height: 20px;
      float:left;
      margin-top:20px;
    }
  
    .main-img{
      justify-content: left;
  
    }
  
    .textmain{
      right: 20px;
      width: 300px;
      height: 300px;
      padding: 10px;
      text-align: center;
    }
    .nav-bar {
      float:right;
      list-style:none;
      margin-top: 40px;
    }
    .nav-bar li {
      display:inline-block;
      margin-right: 20px;
    }
    
    .nav-bar li a:link,
    .nav-bar li a:visited {
      text-transform: uppercase;
      text-decoration:none;
      color:#FF5112;
      font-size:90%;
      transition: 1px solid transparent;
    }
    
    .nav-bar li a:hover,
    .nav-bar li a:active {
      border-bottom : 2px solid  #FF5112;
      padding: 10px 0;
      color: #70b0b0;
    }
  
    body {
      padding: 20px;
    }
    .botao {
      cursor: pointer;
      font-weight: bold;
      margin-left: 6.9px;
      color: #ffffff;
      background-color: #FF5112;
      border: none;
      outline-width: 0;
      outline: none;
      border-radius: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 10px;
    }
    .botao:hover {
      background: #84cfcf;
    }
  
    