.container{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
    width: 100%;
  }
  
  
  .login img{
    margin-left: 70px;
    height: 50px;
    width: 100px;
  }
  
  .formsimagems{
    flex-direction: row;
    display: flex;
  
  }
  
  
  .loginImage {
    display: flex;
    flex-direction: column;
  }
  
  .loginregister{
    display: flex;
    flex-direction: row;
  }
  
  
  .register img{
    
    margin-left: 155px;
    height: 40px;
    width: 268px;
  
  }
  h1{
    text-align: right;
    margin-bottom: 275px;
    
  }
  
  
  
  .login-form{
    display: inline-table;
    padding: 5px;
    margin-left: 50px;
  }
  
  
  .form-field{
      text-align:center;
      font-family: 'Itim', cursive;    
      outline-width: 0;
      border: none;
      display: flex;
      align-items: center;
      color: gray;
      background-color: #EFEBEB;
      border-radius: 50px;
      padding: 3px;
      width: 98%;
      height: 30px;
      margin: 5%;
      font-weight: bold;
  
  }
  
  .form-error{
    font-family: 'Itim', cursive;
    display: contents;
    color: rgb(237, 67, 55);
    font-size: 0.9em;
    font-weight: 600;
  }
  
  .button{
    cursor: pointer;
    font-weight: bold;
    margin-left: 6.9px;
    color: #ffffff;
    font-family: 'Itim', cursive;
    background-color: #FF5112;
    border: none;
    outline-width: 0;
    outline: none;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  