.nav-bar li {
    display:inline-block;
    margin-right: 20px;
  }

  .nav-bar li a:link,
  .nav-bar li a:visited {
    text-transform: uppercase;
    text-decoration:none;
    color:#FF5112;
    font-size:90%;
    transition: 1px solid transparent;
  }

  .nav-bar li a:hover,
  .nav-bar li a:active {
    border-bottom : 2px solid  #FF5112;
    padding: 10px 0;
    color: #70b0b0;
  }

  header {
    display: flex;
    align-items: top;
    font-family: 'itim', cursive;
    padding: 20px 50px;
    justify-content: space-between;
    background-size:cover;
    height:10%;
    width: 90%;
    font-weight: bold;
  }

  .card-grid {
    position: relative;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  transition: all 0.3s ease-in-out;

  }
  
  .card {
    position: relative;
    
  }
  
  .card img {
    margin: 15px;
    width: 200px;
    height: 200px;
    border-radius: 15px;
  }
  
  .card h3 {
    margin: 0;
    font-size: 1.2rem;
  }
  
  .card p {
    margin: 0;
    font-size: 1rem;
  }
  
  .card button {
    cursor:pointer;
    position: relative;
    align-self: center;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    width: 50%;
    padding: 0.5rem;
    background-color: #70B0B0;
    color: #fff;
    border: none;
    outline: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  
  .card:hover button {
    opacity: 1;
  }


  .button2{
    cursor: pointer;
    font-weight: bold;
    margin-left: 6.9px;
    color: #ffffff;
    font-family: 'Itim', cursive;
    background-color: #FF5112;
    border: none;
    outline-width: 0;
    outline: none;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 75px;
  }

  .dailyButton button{
    cursor: pointer;
    font-weight: bold;
    margin-left: 6.9px;
    color: #ffffff;
    font-family: 'Itim', cursive;
    background-color: #FF5112;
    border: none;
    outline-width: 0;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100px;
  }


  .stickerPack {
    position: relative;
    
  }
  
  .stickerPack img {
    margin: 15px;
    width: 200px;
    height: 200px;
    border-radius: 15px;
  }
  
  .stickerPack h3 {
    margin: 0;
    font-size: 1.2rem;
  }
  
  .stickerPack p {
    margin: 0;
    font-size: 1rem;
  }
  
  .stickerPack button {
    cursor:pointer;
    position: relative;
    align-self: center;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    width: 50%;
    padding: 0.5rem;
    background-color: #70B0B0;
    color: #fff;
    border: none;
    outline: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  
  .stickerPack:hover button {
    opacity: 1;
  }



  .Alert{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'itim', cursive;
    font-size: large;
    font-weight: bold;
    color: #FF5112;
  }
  